<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>975949379453-44gl0go3hb14g3cghkr6ma9reljh9da8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.975949379453-44gl0go3hb14g3cghkr6ma9reljh9da8</string>
	<key>API_KEY</key>
	<string>AIzaSyC_tXOtUV2o0rqvAgC65tJ0jP_iaRY6lZk</string>
	<key>GCM_SENDER_ID</key>
	<string>975949379453</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eCommerceApp</string>
	<key>PROJECT_ID</key>
	<string>shopapp-821ac</string>
	<key>STORAGE_BUCKET</key>
	<string>shopapp-821ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:975949379453:ios:d862d94fbdded642643e14</string>
</dict>
</plist>